<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Welcome New Student</h2>

<!--Displaying Value-->

<h2 th:text="${students.get(0).firstName}"> </h2>
<h2 th:text="${students.get(0).lastName}"> </h2>


<!--Concatenation-->

<h2 th:text="${'We welcome you, '+ students.get(3).firstName}"></h2>

<!--Link 2 ways to do it: -->

<a th:href="@{https://cydeo.com/}"> Cydeo Page, Click here </a><br>


<a th:href="@{/student/welcome}">Link2 Takes back to student welcome page </a><br>

</body>
</html>